{# templates/security/forgot_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block main %}
    <div class="container">
        <h1>Forgot Password</h1>
        {% for flash_message in app.flashes('success') %}
            <div class="alert mt-2 p-2 alert-success small">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.flashes('error') %}
            <div class="alert mt-2 p-2 alert-danger small">
                {{ flash_message }}
            </div>
        {% endfor %}
        <form method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
        </form>
    </div>
{% endblock %}
