{% extends 'base.html.twig' %}

        {% block main %}
		<!-- Body Start -->	
		<main class="discussion-mp">	
			<div class="main-section">
				<div class="container">
					<div class="row justify-content-md-center">
						<div class="col-lg-12 col-md-12">							
							<div class="errror-404">
								<img src="{{asset('images/error.png')}}" alt="">
							</div>
						</div>											
					</div>					
				</div>
			</div>
		</main>
		{% endblock %}