{# templates/front_office/post_group/editpost_alert.html.twig #}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Modifier le post</h4>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
