{% extends 'front_office/base.html.twig' %}

{% block title %}Sponsoring List{% endblock %}

{% block main %}
<div class="container mt-5 mb-5">
    <div class="categories-left-heading border_bottom">
        <h2 class="mb-4">Sponsoring List</h2>						
    </div>
   
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Contenu</th>
                    <th>Sponsor_id</th>

                  
                </tr>
            </thead>
            <tbody>
                {% for a in post %}
                <tr>
                    <td>{{ a.id }}</td>
                    <td>{{ a.contenu }}</td>
                    <td>{{ a.sponsoring.id }}</td>
                    <td>
                        <a href="{{ path('deletepost', {'id': a.id}) }}" class="btn btn-danger">Delete</a> {# Red color for Delete #}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
